
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Index!</h3>
<p>Первое представление</p>
<a href="/Home/Employees">Список сотрудников</a>

<p>
    <img src="/qr/code?str=QWE" width="180"/>
</p>
</body>
</html>
